.screen {
    flex: 1;
    background-color: white;
  }
  
  .backgroundImage {
    height: 300px;
  }
  
  .profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border-width: calc(100vw * 0.005);
    margin-top: calc(100vh * 0.09);
    margin-left: calc(100vw * 0.75);
    border-color: black;
    position: absolute;
    overflow: hidden;
    border-color: white;
  }
  .profile-icon {
    margin-left: 10px;
    cursor: pointer;
  }
  .image {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  
  .infoContainer {
    margin-left: calc(100vw * 0.05);
    margin-right: calc(100vw * 0.05);
    margin-top: 30px;
    justify-content: center;
    align-items: flex-start;
  }
  
  .titleRow {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .title {
    color: black;
    font-size: 18px;
    text-align: right;
    align-self: flex-start;
    flex-direction: row;
    font-family: 'lato.heavy';
  }
  
  .button {
    border-radius: calc(100vw * 0.025);
    border-color: black;
    align-self: flex-start;
    flex-direction: row;
    border-width: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    overflow: hidden;
    margin-left: 70px;
    margin-top: 30px;
    cursor: pointer;
  }

  .button-post {
    border-radius: calc(100vw * 0.025);
    border-color: black;
    align-self: flex-start;
    flex-direction: row;
    border-width: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    overflow: hidden;
    margin-left: 110px;
    margin-top: 30px;
    cursor: pointer;
  }
  .buttonText {
    font-size: 13px;
    font-family: 'lato.heavy';
  }
  
  .intro {
    color: grey;
    font-size: 14px;
    margin-top: 60px;
  }
  
  .noPoststextContainer {
    align-items: center;
    padding-top: calc(100vh * 0.05);
    border-top-color: #c0c0c0;
    border-top-width: 2px;
    margin-left: calc(100vw * 0.05);
    margin-right: calc(100vw * 0.05);
  }
  
  .noPostsText1 {
    font-size: 24px;
    font-family: 'lato.regular';
  }
  .profile-edit-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    font-weight: bold;
    color: #262626;
    background-color: transparent;
    cursor: pointer;
  }