/* Search box styles */
.ais-SearchBox {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .ais-SearchBox-input {
    flex: 1;
    border: none;
    border-bottom: 1px solid gray;
    padding: 0.5rem;
    font-size: 1.2rem;
    outline: none;
    
  }
  
  .ais-SearchBox-submit {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  /* Search results styles */
  .ais-Hits-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .ais-Hits-item {
    padding: 1rem;
  }
  
  .ais-Hits-item:last-child {
    border-bottom: none;
  }
  
  .hits {
    margin: 4px 0;
    padding: 10px 0;
    border-top: 2px solid #eee;
}