.profile-name-container {
  }
  .bannerContainer {
    display: flex;
  }
  
  .innerNameContainer {
      align-content: center;
      background-color: antiquewhite;
  }
  
  .backgroundImage {
      flex-direction: 'column';
      overflow: 'hidden';
    }
  
  .imageContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    }
  .imageContainer :hover {
      background-color: transparent;
      cursor: pointer;
      background-color: black;
    }
  .profile-info {
    flex-direction: column;
    justify-content: space-between;
  }
  .profile-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  .identityImage {
      align-self: center;
    }
  
  .userName {
      font-weight: 800;
      font-size: large;
      padding-top: 3vh;
    }
  
  .userPersonaType {
      font-size: 12;
      color: 'grey';
      padding-top: 1vh;
    }
  
  .userStatsContainer {
      flex-direction: "row";
      justify-content: "space-between";
      margin-top: 2vh;
    }
  
  .userStat { 
      flex: 1;
      justify-content: center;
      align-items: center;
  }
  
  .statNumber {
      font-size: large;
      font-weight: bold;
    }
  
  .statLabel {
      font-weight: bold;
      padding-top: 2vh;
      color: aliceblue;
    }
  
    .profile-stats {
      display: flex;
      margin: 10px 0;
    }
    
    .profile-stat {
      flex: 1;
      text-align: center;
      margin-left: 20px;
    }
    
    .stat-label {
      font-size: 14px;
      font-weight: bold;
      color: #999;
    }
    
    .stat-number {
      font-size: 18px;
      font-weight: bold;
      margin-left: 10px;
    }
  
    
  .profile-edit-button {
    margin-top: 45px;
    justify-self: flex-end;
    padding: 10px 20px;
    height: 40px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    font-weight: bold;
    color: #262626;
    background-color: transparent;
    cursor: pointer;
  }
  
  .profile-edit-button:hover {
    background-color: #dbdbdb;
  }
  
  .profile-posts {
    margin-top: 30px;
  }
  
  .identity-list {
  }
  .post {
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }