.profile-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-left: 100px;
  margin-top: 20px;
  cursor: pointer;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.identity-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.identity-image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
}

.identity-name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
  color: black;
}
