.new-persona{
  margin-block-end: 2rem auto;
}

.new-persona button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-persona button:hover,
.new-persona button:active {
  background-color: #510674;
  border-color: #510674;
}

.new-persona button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-persona button.alternative:hover,
.new-persona button.alternative:active {
  background-color: #ddb3f8;
}
